* {
    margin: 0px;
}

body {
    background-color: yellow;
}

.padre {
    background-color: greenyellow;
    padding: 15px;
    margin: 5px;
}

.titulo {
    background-color: orange;
}

.menu {
    background-color: aquamarine;
}

.contenido {
    background-color: beige;
    width: auto;
    height: 350px;
}

.pie {
    background-color: darkcyan;
}

.c1 {
    background-color: red;
    width: 300px;
    height: 200px;
    padding: 40px;
}

.c2 {
    background-color: yellow;
    padding: 30px;
}

.c3 {
    background-color: green;
    padding: 40px;
}

.c4 {
    background-color: darkcyan;
    width: 190px;
    height: 40px;
    display: inline-block;
    text-align: auto;
    line-height: 30px;
}